[alert] {
  font-size: 0.9rem;
  //text-align: center;
  padding: 0.4rem !important;
  margin: 0 2% 1% 2%;
  border: 1px solid transparent;
  border-radius: 0.4rem;
}

[alert-danger] {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
