<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Comidas </ion-title>
    <ion-button slot="end" size="small" (click)="abrirModalComida()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comidas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let comida of comidas; let key = index">
      <ion-avatar slot="start">
        <img src="http://lorempixel.com/100/60/food/" />
      </ion-avatar>
      <ion-label>
        <h2>{{comida.nome}}</h2>
        <ion-text color="medium">
          <h3>{{comida.tipo}}</h3>
        </ion-text>

        <p>{{comida.descricao}}</p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="removerComida(key)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
