<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Listagem de partidos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Partidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let partido of partidos">
      <ion-label appTextBlue
        >{{partido.nome | textToUpper}} - {{partido.sigla | textToLower}}
      </ion-label>
      <app-button-go-to-link
        name="Membros"
        icon="people"
        [idPartido]="partido.id"
      ></app-button-go-to-link>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button
        value="anterior"
        (click)="anteriorPagina()"
        [disabled]="page === 1"
      >
        <ion-label>Anterior</ion-label>
      </ion-segment-button>
      <ion-segment-button
        value="proxima"
        (click)="proximaPagina()"
        [disabled]="!temProximaPagina()"
      >
        <ion-label>Próxima</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
