<ion-header>
  <ion-toolbar>
    <ion-title
      >{{this.id || this.id === 0 ? 'Edição' : 'Cadastro'}} de comida
    </ion-title>
    <ion-buttons slot="end" color="danger">
      <ion-button (click)="fecharModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome" type="text" required></ion-input>
        </ion-item>
        <app-form-input-error
          [form]="form"
          formInput="nome"
        ></app-form-input-error>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select
            formControlName="tipo"
            okText="OKAY"
            cancelText="Cancel aí"
          >
            <ion-select-option value="pizza"> Pizza </ion-select-option>
            <ion-select-option value="vegetariana">
              Vegetariana
            </ion-select-option>
            <ion-select-option value="nordestina">
              Nordestina
            </ion-select-option>
          </ion-select>
        </ion-item>
        <app-form-input-error
          [form]="form"
          formInput="tipo"
        ></app-form-input-error>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-textarea
            formControlName="descricao"
            placeholder="Descrição da comida..."
          ></ion-textarea>
        </ion-item>
        <app-form-input-error
          [form]="form"
          formInput="descricao"
        ></app-form-input-error>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-datetime
            doneText="O tal do done"
            cancelText="Cancelaaaaaa"
            formControlName="dataEntrega"
            display-timezone="utc"
            display-format="DD MM YYYY"
            placeholder="Selecione a data da entrega"
          ></ion-datetime>
        </ion-item>
        <app-form-input-error
          [form]="form"
          formInput="dataEntrega"
        ></app-form-input-error>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>HH mm</ion-label>
          <ion-datetime
            formControlName="horaEntrega"
            displayFormat="HH mm"
            placeholder="Selecione a Hora de Entrega"
          ></ion-datetime>
        </ion-item>
        <app-form-input-error
          [form]="form"
          formInput="horaEntrega"
        ></app-form-input-error>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Avaliação</ion-label>
          <ion-range
            min="-0"
            max="10"
            pin
            color="secondary"
            formControlName="avaliacao"
          >
            <ion-icon
              slot="start"
              size="small"
              name="thumbs-down-outline"
            ></ion-icon>
            <ion-icon slot="end" name="thumbs-up-outline"></ion-icon>
          </ion-range>
        </ion-item>
        <app-form-input-error
          [form]="form"
          formInput="avaliacao"
        ></app-form-input-error>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-radio-group formControlName="isPimenta">
          <ion-list-header>
            <ion-label>Com pimenta?</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Sim</ion-label>
            <ion-radio slot="start" color="success" value="sim"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Não</ion-label>
            <ion-radio slot="start" color="tertiary" value="nao"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <app-form-input-error
          [form]="form"
          formInput="isPimenta"
        ></app-form-input-error>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="success"
          expand="block"
          [disabled]="!form.valid"
        >
          {{this.id || this.id === 0 ? 'Atualizar' : 'Salvar'}}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
